<md-card >
  <md-card-content class="md-display-2">
    <span class="mins">{{mins}}</span> : 
    <span class="secs">{{secs}}</span>
  </md-card-content>
  <md-card-content class="buttons">
    <md-button class="md-raised" ng-click="startCountdown()">
      <md-tooltip md-direction="bottom">start countdown</md-tooltip>
      start countdown
    </md-button>
    <md-button class="md-raised" ng-click="resetCountdown()">
      <md-tooltip md-direction="bottom">reset countdown</md-tooltip>
      reset countdown
    </md-button>
  </md-card-content>
</md-card>