<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>POMODORO CLOCK</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="initial-scale=1" />

    <link rel='stylesheet' 
      href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'
    />
    <link rel="stylesheet" href="src/vendor/css/angular-material.min.css" />
    <link href="src/app/assets/css/app.css" rel="stylesheet" />
  </head>
  <body layout="column" ng-app="pomodoro" ng-cloak
        ng-controller="AppCtrl as appCtrl">
    <!-- Header -->    
    <md-toolbar class="md-medium-tall" layout="row" layout-align="center">
      <h3 class="md-display-1">Pomodoro Clock</h3>
    </md-toolbar>
    <!-- Content -->
    <div flex layout="row" layout-align="center none">

      <md-content layout-padding>
        <!-- CountDownTimer Directive -->
        <count-down-timer 
            duration="appCtrl.duration" 
            running="appCtrl.disableInputs()"
            resetted="appCtrl.enableInputs()"
            stop="appCtrl.toggleTimer()">
        </count-down-timer>

        <div class="space-around" ng-class="{'md-display-1': appCtrl.isBigScreen}">
          Break Length: {{appCtrl.breakLength}}
        </div>
        <!-- Pomodoro Session and Break Length -->
        <div md-colors="::{backgroundColor: 'lime'}" 
             ng-show="appCtrl.showPomodoro"
             class="pomo">
          
          <div layout="row">
            <md-input-container class="space-around" flex>
              <label>Session Length</label>
              <input type="text" ng-model="appCtrl.sessionLength" 
                    ng-disabled="appCtrl.disable"/>
            </md-input-container>

            <md-input-container class="space-around" flex>
              <label>Break Length</label>
              <input type="text" ng-model="appCtrl.breakLength" 
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-disabled="appCtrl.disable"/>
            </md-input-container>
            <span class="close space-around" ng-click="appCtrl.setShowPomodoro()">
              <md-tooltip md-direction="right">close</md-tooltip>
              x
            </span>
          </div>

          <md-button class="md-raised space-around" 
                    ng-click="appCtrl.setPomodoro()">
            <md-tooltip md-direction="bottom">
              set pomodoro
            </md-tooltip>
            set pomodoro
          </md-button>
        </div>  
      </md-content>  
      <!-- Floating Button -->
      <md-button class="md-fab md-fab-bottom-right" 
                 md-colors="::{backgroundColor: 'teal'}"
                 aria-label="Add session" 
                 ng-click="appCtrl.setShowPomodoro()">
        <md-tooltip md-direction="left">add session</md-tooltip>
        <md-icon md-svg-src="src/app/assets/img/icons/add_white_36px.svg"></md-icon>
      </md-button>
    </div>
    <script src='./src/vendor/js/angular.min.js'></script>
    <script src='./src/vendor/js/angular-animate.min.js'></script>
    <script src='./src/vendor/js/angular-aria.min.js'></script>
    <script src='./src/vendor/js/angular-material.min.js'></script>
    <script src='./src/app/app.js'></script> 
    <script 
      src="./src/app/components/countdowntimer/countdowntimer-directive.js">
    </script>
  </body>